.tracker-total-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.tracker-total{
  font-size: 2rem;
  padding: 20px;
}

.tracker-percentage {
  margin: 0;
}

.tracker-total-text {
  font-size: 2rem;
  padding: 0;
}

.tracker-text {
  margin: 0;
}

.textview{
  width: 20rem;
  font-size: 3rem;
}

.biz-tracker{
  border: solid black 2px;
  border-radius: 10%;
  width: 700px;
}