.large-button {
  padding:3.5rem;
  margin: .5rem;
  border: none;
  background-color: #e5e5e5;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 0pt;
  font-weight: bolder;
}

.small-button {
  width: 6rem;
  height: 6rem;
  font-size: 1rem;
  margin: .5rem;
  font-weight: bold;
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
}

/* .round-button-container {
  max-width: 200px;
  display: flex;
  justify-content: center;
  margin:.5rem;
} */
