.profile-pic {
  width: 100%;
  height: 10rem;
  display: block;
}

/* Allows you to upload a new photo */
.file-upload {
  display: none;
}

.pic-container {
  max-width: 10rem;
  height: auto;
  padding:0;
}

img {
  max-width: 100%;
  height: auto;
}

.p-image {
  top: 167px;
  right: 30px;
  /* color: #666666; */
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin:0rem 4rem;
}

 .p-image:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

