body {
  font-family: sans-serif;
  background-image: url("./components/Home/hero-pic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  width: 100%;
}

